<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <style>
         th td {
         margin-bottom:15px;
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style> 
   
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
 
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
       
      <h2 style="color:green;" class="mainDiv">Welcome to Login Page</h2>
       
      <div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>
    
      <form th:action="@{/login}" th:object="${appUserForm}" method="POST">
     <div class="mainDiv">
         <table>
            <tr>
               <td>User Name</td>
               <td><input type="text" th:field="*{userName}" /></td>
               <td>
                  <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
               </td>
            </tr>
            <tr>
               <td>Password</td>
               <td><input type="password" th:field="*{password}" /> </td>
               <td>
                  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span>
               </td>
            </tr>
                                                    
             <tr>
               <td>&nbsp;</td>
               <td>
                  <input type="submit" value="Login" />
                                 </td>
               <td>&nbsp;</td>
            </tr>
         </table>
         </div> 
           <input type="hidden" th:field="*{flag}"/>
      </form>
       
   </body>
</html>